// style={{ display: "flex", alignItems: "center" }}
.navbar-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
}

// direction="row" alignItems="center" p={2} sx={{ position: "sticky", background: "#000", top: 0, justifyContent: "space-between" }}
.navbar-stack {
  display: flex;
  // flex-direction: row;
  align-items: center;
  padding: 16px;
  position: sticky;
  background-color: black;
  top: 0;
  justify-content: space-between;
}

.app-name {
  color: white;
  font-size: 30px;
}

.icon {
  color: red;
  font-size: 35px;
  margin: 0 10px;
}

@media only screen and (max-width: 500px) {
  .app-name {
    font-size: 18px;
  }

  .icon {
    font-size: 23px;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 400px) {
  .app-name {
    font-size: 15px;
  }

  .icon {
    font-size: 20px;
    margin: 0 2px;
  }
}

@media only screen and (max-width: 360px) {
  .app-name {
    font-size: 10px;
    margin-right: 2px;
  }

  .icon {
    font-size: 13px;
    margin: 0 1px;
  }
}
